* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cta-btn {
    display: block;
    padding: 5px 16px;
    border: 0px;
    border-radius: 32px;
    background-color: #D92868;
    border: 1px solid #D92868;
    height: 40px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    transition: all 0.2s ease;
    text-decoration: none;
}

.cta-btn:hover {
    color: #D92868;
    background-color: #fff;
}

.close-btn {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    padding: 0 5px;
    background: transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease;
}

.close-btn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.header {
    color: #111;
    padding: 2rem 1rem 0;
    text-align: center;
}

.d-flex {
    display: flex;
}

.fw-600 {
    font-weight: 600;
}