body {
    background-color: #fff;
}

.login-signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper {
    height: 100vh;
    width: 50%;
    padding: 50px;

}

.wrapper:first-of-type {
    padding: 80px 30px;

}

.login-form__container {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form__container form {
    position: relative;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 19px 40px 0px rgba(0, 0, 0, 0.05);
    padding: 85px 65px;
    max-width: 570px;
    width: 100%;

}

.login-form__container .form__message {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

.login-form__container h1 {
    color: #000;
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 28px;
}

.login-form__container .form__forgot-pass {
    font-size: 14px;
    position: absolute;
    text-decoration: underline;
    top: 0;
    right: 0;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 300;
}

.login-form__container .form__forgot-pass a {
    color: #000;
}

.login-form__container .form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 19px;
    position: relative;
}

.login-form__container .form__group input {
    border-radius: 4px;
    background: #FFF6F4;
    border: none;
    padding: 12px 10px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.login-form__container .form__group label {
    color: #000;
    font-size: 16px;
    font-weight: 300;
}

.form__error {
    color: #D92868;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #D92868;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn--cta {
    border-radius: 25px;
    background-color: #D92868;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #D92868;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 38px;
}

.btn--cta:hover {
    cursor: pointer;
    background-color: #fff;
    color: #D92868;
}

.form-switch {
    color: rgba(0, 0, 0, 0.20);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.48px;
    text-align: center;
    margin-bottom: 10px;
}

.form-switch a {
    color: #D92868;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.48px;
}

.form-switch a:hover {
    text-decoration: underline;
    opacity: 0.75;
}

.image__container {
    position: absolute;
    top: 170px;
}

.mask {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 40%;
    background-color: #EDC9BF;
}

.google-auth-btn__container {
    display: flex;
    align-items: center;
    justify-content: center;
}