.calendar-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.input-field__container {
    /* flex: 1 1 calc(50% - 10px); */
    margin: 0 10px 30px 0;
}

.input-field__container .weekday {
    margin-bottom: 5px;
}

.input-field {
    /* padding: 10px;
    margin-bottom: 10px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}

.input-field input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

.input-field.error input {
    border-color: red;
}

.input-field label,
.input-field__container label {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    font-size: 1.1rem;

}

.input-fields {
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
}

.input-field {
    /* flex: 1 1 calc(50% - 20px); */
    /* margin: 10px; */
}

@media (max-width: 1350px) {}

@media (max-width: 768px) {
    .input-field {
        flex: 1 1 calc(100% - 20px);
    }

    .input-fields {
        align-items: center;
        justify-content: center;
    }

}