.dropdown {
    position: relative;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-option {
    list-style: none;
}