body {
    background: rgba(237, 201, 191, 0.68);
}

.form__container {
    padding: 50px 20px;
}

.search__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto !important;
    padding: 10px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 19px 40px 0px rgba(0, 0, 0, 0.05);
    height: 500px;
}

.search__container--small {
    height: 250px;
    transition: height 0.25s ease-in;
}

.search__input {
    margin-right: 20px !important;
    max-width: 500px;
    width: 100%;
}

.spinner__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

}