.table-container th,
.table-container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
}

.table-container tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container tbody tr:hover {
    background-color: #ddd;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}


/* styles to stay */

.table-container {
    margin-top: 20px;
    padding: 2px;
    border: 1px solid #ccc;
    overflow-x: auto;
}

.header-row {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px;
}


.header-cell {
    text-align: center;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    flex: 1;
    cursor: pointer;
}

.header-cell.active {
    color: #D92868;
    font-weight: 600;
}

.header-cell:last-child {
    border-right: none;
}

.header-cell.disabled {
    background-color: #ccc;
    color: #666;
}

.header-cell.today {
    background-color: #ffcc00;
}

.header-cell.future {
    background-color: antiquewhite;
}

.day-of-week {
    font-weight: bold;
}