.table-container {
    width: 100%;
    margin-top: 20px;
    padding: 2px;
    border: 2px solid #ccc;
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.header-row {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}


.header-cell {
    text-align: center;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    flex: 1;
    cursor: pointer;
}

.header-cell.active {
    color: #D92868;
    font-weight: 600;
}

.header-cell:last-child {
    border-right: none;
}

.header-cell.disabled {
    background-color: #ccc;
    color: #666;
}

.header-cell.today {
    background-color: #ffcc00;
}

.header-cell.future {
    background-color: antiquewhite;
}

.day-of-week {
    font-weight: bold;
}